<a href="https://colab.research.google.com/github/zdwhite/Thinkful-Unit-5/blob/master/Project_Euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drill 

Use the skills we’ve discussed here to find efficient solutions to the **first 10 problems**. 

Once you’ve found your own solutions look around the web for others’ Python solutions to see other ways people have approached these problems.

## #1 Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [5]:
mults = []
for i in range(1000):
  if i%3 ==0 or i%5 == 0:
    mults.append(i)
    
sum(mults)

233168

## #2   Even Fibonacci numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [0]:
## This is such a cool way of doing this
# Create a fib generator so you can do REEALLLY REALLY big fib numbers
# big thanks to Eirik Fesker @ S.O
# https://stackoverflow.com/questions/3953749/python-fibonacci-generator

#set max value
max_val=4000000

def fib(max_val):
    a, b = 0, 1
    while a<max_val:
        yield a
        a, b = b, a + b

In [8]:
# create a list of all even fibonacci numbers that are even
evens = sum([n for n in list(fib(max_val)) if n%2==0])

#sum the list
evens

4613732

In [0]:
# regular fibs just for fun
def fib_max(n):
    a, b = 0, 1
    for i in range(n):
        yield a
        a, b = b, a + b

In [4]:
list(fib_max(1000))[-1]

173402521172797813159685037284371942044301

## #3 Largest prime factor

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

Seriously ...... [Reference](https://programmingpraxis.files.wordpress.com/2012/09/primenumbers.pdf)

Below is basically the answer. using algorithms 3.A , 3.B, and 4.B

Algorithm 3.A: Strong Pseudoprime Test: Determine if a
on the range 1 < a < n is a witness to the compositeness of
an odd integer n > 2:
1. [Initialize] Set d ← n − 1. Set s ← 0.
2. [Reduce while even] If d is even, set d ← d/2, set s ←
s + 1, and go to Step 2.
3. [Easy return? ] Set t ← a<sup>d</sup>
(mod n). If t = 1 or
t = n − 1, output PROBABLY PRIME and stop.
4. [Terminate? ] Set s ← s−1. If s = 0, output COMPOSITE
and stop.
5. [Square and test] Set t ← t<sup>2</sup>
(mod n). If t = n −
1, output PROBABLY PRIME and stop. Otherwise, go to
Step 4.

Algorithm 3.B: Miller-Rabin Pseudoprimality Test: Determine if an odd integer n is prime with a probability of at
least 4<sup>-k</sup> by performing k strong pseudoprime tests:
1. [Terminate? ] If k = 0, output PROBABLY PRIME and
stop.
2. [Strong-pseudoprime test] Choose a random number a
such that 1 < a < n. Perform a strong pseudoprime test
using Algorithm 3.A to determine if a is a witness to the
compositeness of n.
3. [Pseudoprime? ] If the strong pseudoprime test indicates
a is a witness to the compositeness of n, output COMPOSITE
and stop. Otherwise, set k ← k − 1 and go to Step 1.

Algorithm 4.A: Pollard’s Rho Method: Find a factor of an
odd composite integer n > 1:
1. [Initialization] Set t ← 2, h ← 2 and c ← 1. Define the
function f(x) = x<sup>2</sup> + c (mod n).
2. [Iteration] Set t ← f(t), h ← f(f(h)), and d ← gcd(t −
h, n). If d = 1, go to Step 2.
3. [Termination] If d < n, output d and stop. Otherwise,
either stop with failure or continue by setting t ← 2, h ←
2, and c ← c + 1, redefining the function f(x) using the
new value of c and going to Step 2.



Algorithm 4.B: Integer Factorization by Pollard’s Rho
Method: Find all the prime factors of a composite integer
n > 1:
1. [Remove factors of 2] If n is even, output the factor 2,
set n ← n/2, and go to Step 1.
2. [Terminate if prime] If n is prime by the method of Algorithm 3.B, output the factor n and stop.
3. [Find a factor] Use Algorithm 4.A to find a factor of n
and call it f. Output the factor f, set n ← n/f, and go to
Step 2


The factorization of this number is barely out of memory bounds for google colab

In [0]:
## Greatest common denominator
def gcd(a,b):
  while b:
    a,b=b,a%b
  return a

In [0]:
#Pollard’s Rho Method
from numpy import random
def pollardRho(N):
  if N%2==0:
    return 2
  x = random.randint(1, N-1)
  y = x
  c = random.randint(1, N-1)
  g = 1
  while g==1:             
    x = ((x*x)%N+c)%N  #3.B.2
    y = ((y*y)%N+c)%N  #
    y = ((y*y)%N+c)%N
    g = gcd(abs(x-y),N) # 4.A.2
  return g

In [61]:
pollardRho(600851475143)

71

## #4 Largest palindrome product

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [0]:
# Find n 

# Where n is less than 999^2 and greater than 100^2
# and n = x * y
  # Where x and y > 100 and < 999

In [67]:
# this is pretty brute force
# search for all palindromes between 10000 and 998001
999**2 , 100**2

(998001, 10000)

In [0]:
# I want to slit my wrists for writing this horrid PoS but here it is :(
def is_pal(n):
  if n < 10:
    return
  stack  = ""
  check = str(n)
  for i in range(len(check)):
    stack = stack + (check[-1])
    check = check[:-1]
  stack = int(stack)
  if stack == n:
    return stack

In [0]:
### refactor this such that as numbers are being from largest to smallest DONE
### check for factorization after a palindrome is returned

all_pals = []
for i in range(998001,10000,-1):
  all_pals.append(is_pal(i))
  
all_pals= [i for i in all_pals if i]

In [0]:
def factor(n):
  for i in range(100,999,1):
    if n%i==0 and n/i < 1000:
      return (n,i,n/i)

In [0]:
## List comp
all_pals = [is_pal(i) for  i in range(998001,10000,-1) if is_pal(i)]

In [0]:
pal_factor =[]
for i in all_pals:
  pal_factor.append(factor(i))
  if factor(i):
    break

In [0]:
pal_factor = [i for i in pal_factor if i]

In [162]:
pal_factor

[(906609, 913, 993.0)]

## #5 Smallest multiple

2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [0]:
# This takes a good 2 minutes to run

# only check even numbers
# any number divisible by 11 - 21 is divisible by 1 - 10 :shrug: i guess
def small_mult():
  i=2
  while i>0:
    #print(i)
    for j in range(11,21):
      #print(i,j)
      if i%j!=0:
        break
      if i%j==0 and j==20:
        #print("well I'm here")
        return i   
    i += 2

In [0]:
test = small_mult()

In [304]:
test

232792560

In [305]:
# Check your work
[test/i for i in range(1,21)]

[232792560.0,
 116396280.0,
 77597520.0,
 58198140.0,
 46558512.0,
 38798760.0,
 33256080.0,
 29099070.0,
 25865840.0,
 23279256.0,
 21162960.0,
 19399380.0,
 17907120.0,
 16628040.0,
 15519504.0,
 14549535.0,
 13693680.0,
 12932920.0,
 12252240.0,
 11639628.0]

## #6 Sum square difference

The sum of the squares of the first ten natural numbers is,

>1<sup>2</sup> + 2<sup>2</sup> + ... + 10<sup>2</sup> = 385

The square of the sum of the first ten natural numbers is,

>(1 + 2 + ... + 10)<sup>2</sup> = 55<sup>2</sup> = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [0]:
def diff_sum_sq(n):
  sum_sq = 0
  for i in range(1,n+1):
    sum_sq = sum_sq+i**2
  
  sq_sum = sum(range(1,n+1))**2
      
  
  return sq_sum - sum_sq

In [313]:
diff_sum_sq(100)

25164150

## #7 	10001st prime

By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10 001st prime number?

In [0]:
# refactor to loop until the list is n elements long
# Optimized sieve of Eratosthenes
def prime_list(n,stop):

  m = (n-1) // 2
  b = [True] * m
  i, p, ps = 0, 3, [2]
  while p*p < n:
    if b[i]:
      ps.append(p)
      j = 2*i*i + 6*i + 3
      while j < m:
        b[j] = False
        j = j + 2*i + 3
    i += 1; p += 2
  while i < m:
    if b[i]:
      ps.append(p)
    i += 1; p += 2
    if len(ps)==stop:
      print('I hit stop boss')
      return ps
  
  return ps

In [32]:
 list_primes = prime_list(200000,10001)

I hit stop boss

In [33]:
## This is the 10001th prime
list_primes[-1]

104743

## #8 	Largest product in a series

The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

>73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

In [0]:
num = '73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586 178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188 845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450'

num = ''.join(num.split())

In [0]:
# It's REAL late but the basic idea is keep the long number as a string.
# move a 13 length window along that string
# if the window doesn't contain a '0'
# create a list of all the numbers in that window turn them to ints and sum them
# return the window that has the largest sum as the largest sum will have the largest product anyway
# then at the end do the product.

# Do this until you run out of windows that are of length 13
# DO NOT COPY THIS PILE OF TRASH please it's 2 AM and I just want to move through this stuff.

# More horrible shit
def who_cares(num):
  large_num=0
  i=0
  digits=[]
  best_window=''
  window=num[i:i+13]
  while len(window)==13:
    window=num[i:i+13]
    if '0' not in window:
      comp=sum([int(k) for k in [j for j in window]])
      if comp > large_num:
        large_num = comp
        digits = [int(k) for k in [j for j in window]]
        best_window=window
      
    i+=1
    
  return [digits,large_num,best_window]

In [0]:
test = who_cares(num)

In [372]:
# too lazy to code my own product function
from functools import reduce
reduce((lambda x, y : x*y),who_cares(num)[0])

8821658160

## #9 Special Pythagorean triplet

A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

>a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>

For example, 3<sup>2</sup> + 4<sup>2</sup> = 9 + 16 = 25 = 5<sup>2</sup>.

There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc.

In [0]:
### Do something until it shant be done anymore
# recall that 
# a + b +c = 1000 or the perimeter of a triangle

## i guess this is redundant as we are only checking integers anyway
# (a+b+c)%1 == 0 (it's fairly improbable that the sum of the)

### a^2 + b^2 - c^2 = 0

### a + b + c -1000 = a^2 + b^2 - c^2
#
def triple():
  for a in range(1,1000):
    for b in range(1,1000):
      for c in range(1,1000):
        if a+b+c==1000 and a**2 + b**2 == c**2: 
          return print('a={}\nb={}\nc={}'.format(a,b,c))
  return "Nope Not this time"

In [23]:
%%timeit -n1
triple()

a=200
b=375
c=425
a=200
b=375
c=425
a=200
b=375
c=425
1 loop, best of 3: 20.8 s per loop

In [9]:
triple()

## This means that the function took
## 200*1000**2 + 375*1000 + 425 loops to complete
## for every 1 loop of a is 1000 loops of b and 10000 loops of c

(200, 375, 425)

In [32]:
200*1000**2 + 375*1000 + 425 , 1000**3

(200375425, 1000000000)

 Attempt  to do the same thing with Euclid's Method

Recall given arbitrary pair of integers m and n with m > n > 0

 a=m<sup>2</sup>-n<sup>2</sup>
 
 b=2mn
 
 c=m<sup>2</sup>+n<sup>2</sup>
 
 if a + b + c = 1000
 
 then m<sup>2</sup>-n<sup>2</sup> +  2mn + m<sup>2</sup>+n<sup>2</sup> = 1000

In [0]:
### WOW this is WAY faster! ~4.6k times faster
def euclid_trip():
  for n in range(1,1000):
    for m in range(1,1000):
      
      if (m**2)-(n**2) + 2*m*n + (m**2)+(n**2)==1000:
        
        a =2*m*n
        b =(m**2)-(n**2)
        c = (m**2)+(n**2)
        return print('a={}\nb={}\nc={}'.format(a,b,c))
  return "Nope Not this time"

In [73]:
%timeit euclid_trip()

100 loops, best of 3: 4.49 ms per loop

In [75]:
euclid_trip()

a=200
b=375
c=425

In [46]:
20.8 / .0045

4622.222222222223

In [0]:
### Improved Euclid Method
# This is ~1.13 * faster 

def imp_euclid_trip():
  for n in range(1,1000,2):
    for m in range(1,1000,2):
      
      if m*n + ((m**2)-(n**2))/2 + ((m**2)+(n**2))/2==1000:
        
        a = ((m**2)-(n**2))/2
        b =  m*n 
        c = ((m**2)+(n**2))/2
        return print('a={}\nb={}\nc={}'.format(a,b,c))
  return "Nope Not this time"

In [69]:
%timeit imp_euclid_trip()

100 loops, best of 3: 3.99 ms per loop

In [77]:
imp_euclid_trip()

a=200.0
b=375
c=425.0

In [61]:
4.5/3.99

1.1278195488721805

## #10 Summation of primes

The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million.

In [0]:
# More of this prime numbers shit why are CS folks obsessed with prime numbers???

In [62]:
# Sieve of Eratosthenes

## THIS TAKES WAY TO LONG, as it is  O(n^2/2(log(e)n)^2  time complexity
## here is the sum of the first 20K primes
n=20000

sum([x for x in range(2,n) if not [y for y in range(2, int(x**0.5)+1) if x%y == 0]])

21171191

In [0]:
# Optimized sieve of Eratosthenes
# Sum of the first 2 million primes
def primes(n,stop):

  m = (n-1) // 2
  b = [True] * m
  i, p, ps = 0, 3, [2]
  while p*p < n:
    if b[i]:
      ps.append(p)
      j = 2*i*i + 6*i + 3
      while j < m:
        b[j] = False
        j = j + 2*i + 3
    i += 1; p += 2
  while i < m:
    if b[i]:
      ps.append(p)
    i += 1; p += 2
  return ps

In [10]:
sum(primes(2000000))

142913828922

In [19]:
len(primes(2000000))

148933